/*
Yaca (Yet Another Chat Application), a solution for self-hosted WebRTC voice chat.
Copyright (C) 2024 Amini Allight

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as
published by the Free Software Foundation, either version 3 of the
License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <https://www.gnu.org/licenses/>.
*/
@import "theme";

.dialog-prompt {
    display: block;
    width: calc(100% - 16px * 2);
    height: calc(64px - 16px * 2);
    margin: 16px;
    line-height: calc(64px - 16px * 2);
    color: @panel-fg;
    font-size: 14px;
}

.dialog-line-input {
    display: block;
    width: calc(100% - (16px * 2 + 8px * 2));
    height: calc(64px - (16px * 2 + 8px * 2));
    margin: 16px;
    padding: 8px;
    border-radius: @border-radius;
    background-color: @indent-bg;
    color: @panel-fg;
    user-select: text;
}

.dialog-line-input:focus {
    box-shadow: 0 0 @glow-width @glow;
}

.dialog-button {
    display: block;
    width: 128px;
    height: calc(64px - 16px * 2);
    line-height: calc(64px - 16px * 2);
    margin-top: 16px;
    margin-bottom: 16px;
    margin-left: auto;
    margin-right: auto;
    border-radius: @border-radius;
    background-color: @outdent-bg;
    color: @panel-fg;
    cursor: pointer;
}

.dialog-button:hover {
    background-color: @accent;
}

.dialog-button:active {
    box-shadow: 0 0 @glow-width @glow;
}
