@font-face {
    font-family: "Open Sans";
    font-weight: 300;
    src: url("/static/open-sans-light.ttf") format("truetype");
}

@font-face {
    font-family: "Open Sans";
    font-weight: 400;
    src: url("/static/open-sans-regular.ttf") format("truetype");
}

@font-face {
    font-family: "Open Sans";
    font-weight: 700;
    src: url("/static/open-sans-bold.ttf") format("truetype");
}
