/*
Yaca (Yet Another Chat Application), a solution for self-hosted WebRTC voice chat.
Copyright (C) 2024 Amini Allight

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as
published by the Free Software Foundation, either version 3 of the
License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <https://www.gnu.org/licenses/>.
*/
@import "fonts";
@import "theme";
@import "new-session-dialog";
@import "username-dialog";
@import "session";
@import "user";
@import "scrollbar";

* {
    font-family: 'Open Sans', sans-serif;
    border: 0;
    padding: 0;
    margin: 0;
    outline: 0;
    user-select: none;
}

html body {
    width: 100%;
    height: 100%;
    background-color: @window-bg;
}

#main {
    height: auto;
    background-color: @window-bg;
}

.voice-chat {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: @window-bg;
}

.icon {
    position: absolute;
    left: calc((100% - 256px) / 2);
    top: 16px;
    width: 256px;
    height: 256px;
}

@media (max-height: 736px) {
    .icon {
        display: none;
    }
}

.error-log {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    position: absolute;
    left: calc((100% - 384px) / 2);
    top: calc(((100% - 512px) / 2) + 512px);
    width: 384px;
    height: calc((100% - 512px) / 2);
}

.error-message {
    width: 100%;
    font-size: 14px;
    line-height: 24px;
    color: @negative;
}
