/*
Yaca (Yet Another Chat Application), a solution for self-hosted WebRTC voice chat.
Copyright (C) 2024 Amini Allight

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as
published by the Free Software Foundation, either version 3 of the
License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <https://www.gnu.org/licenses/>.
*/
@import "theme";
@import "panel";

.session {
    .panel();
    position: absolute;
    left: calc((100% - 384px) / 2);
    top: calc((100% - 512px) / 2);
    width: 384px;
    height: 512px;
}

.users {
    position: absolute;
    top: calc(@border-radius + 64px + 16px * 2);
    left: 0%;
    width: 100%;
    height: calc(100% - (@border-radius * 2 + 64px + 16px * 2));
    overflow-y: scroll;
}

.microphone-button {
    position: relative;
    display: block;
    width: 64px;
    height: 64px;
    background-color: @indent-bg;
    border-radius: @border-radius;
    margin: auto;
    margin-top: 16px;
    margin-bottom: 16px;
    cursor: pointer;
}

.microphone-button:hover {
    background-color: @accent;
}

.microphone-button:active {
    box-shadow: 0 0 @glow-width @glow;
}

@keyframes microphone-pulse {
    0% { filter: brightness(100%); }
    50% { filter: brightness(70%); }
    100% { filter: brightness(100%); }
}

.microphone-button-content {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-size: 64px;
    pointer-events: none;
}

.mute {
    .microphone-button-content();
    background-image: url("/static/unmuted.png");
    animation-name: microphone-pulse;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

.unmute {
    .microphone-button-content();
    background-image: url("/static/muted.png");
}
