/*
Yaca (Yet Another Chat Application), a solution for self-hosted WebRTC voice chat.
Copyright (C) 2024 Amini Allight

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as
published by the Free Software Foundation, either version 3 of the
License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <https://www.gnu.org/licenses/>.
*/
@window-bg: #232629;
@panel-bg: #2a2e32;
@panel-fg: #fcfcfc;
@indent-bg: #232629;
@outdent-bg: #858585;
@shadow: darken(@window-bg, 10%);
@accent: #0098c2;
@positive: #00a324;
@warning: #db6f00;
@negative: #ff493a;
@glow: @accent;

@border-radius: 8px;
@shadow-width: 4px;
@glow-width: 4px;
