/*
Yaca (Yet Another Chat Application), a solution for self-hosted WebRTC voice chat.
Copyright (C) 2024 Amini Allight

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as
published by the Free Software Foundation, either version 3 of the
License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <https://www.gnu.org/licenses/>.
*/
@import "theme";
@import "panel";

.user {
    .panel();
    position: relative;
    width: calc(100% - 16px * 2);
    height: calc(96px - 16px * 2);
    margin: 16px;
}

.user-name {
    position: absolute;
    top: 0%;
    left: 0%;
    padding: 16px;
    width: calc(100% - (16px * 2 + 64px));
    height: calc(100% - 8px * 2);
    line-height: 32px;
    font-size: 14px;
    font-weight: bold;
    color: @panel-fg;
}

.user-status-light {
    position: absolute;
    top: 0%;
    right: 0%;
    width: 16px;
    height: 16px;
    border-radius: 8px;
    margin: 24px;
    background-color: @warning;
}

.user-status-light-ok {
    background-color: @positive;
}

.user-status-light-error {
    background-color: @negative;
}
